body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.member {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    margin-right: 20px;
}

.details {
    flex-grow: 1;
}

.details p {
    margin: 5px 0;
    color: #555;
}

.details strong {
    color: #e74c3c;
}

.cv-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.cv-button:hover {
    background-color: #45a049;
}